{{ define "email.from" }}jack.li@homsom.com{{ end }}
{{ define "email.to" }}jack.li@homsom.com{{ end }}
{{ define "email.html" }}
{{- if gt (len .Alerts.Firing) 0 -}}{{ range .Alerts }}
@警报<br>
=========start==========<br>
实例: {{ .Labels.instance }}<br>
信息: {{ .Annotations.summary }}<br>
详情: {{ .Annotations.description }}<br>
开始时间: {{ (.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}<br>
=========end==========<br>
{{ end }}{{ end -}}
{{- if gt (len .Alerts.Resolved) 0 -}}{{ range .Alerts }}
@恢复<br>
=========start==========<br>
实例: {{ .Labels.instance }}<br>
信息: {{ .Annotations.summary }}<br>
开始时间: {{ (.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}<br>
恢复时间: {{ (.EndsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}<br>
=========end==========<br>
{{ end }}{{ end -}}
{{- end }}

