{{ define "email.from" }}jacknotes@126.com{{ end }}
{{ define "email.to" }}jacknotes@163.com, jacknotes@126.com{{ end }}
{{ define "wechat.html" }}
{{- if gt (len .Alerts.Firing) 0 -}}{{ range .Alerts }}
@警报<br>
=========start==========<br>
实例: {{ .Labels.instance }}<br>
信息: {{ .Annotations.summary }}<br>
详情: {{ .Annotations.description }}<br>
时间: {{ .StartsAt.Format "2006-01-02 15:04:05" }}<br>
=========end==========<br>
{{ end }}{{ end -}}
{{- if gt (len .Alerts.Resolved) 0 -}}{{ range .Alerts }}
@恢复<br>
=========start==========<br>
实例: {{ .Labels.instance }}<br>
信息: {{ .Annotations.summary }}<br>
时间: {{ .StartsAt.Format "2006-01-02 15:04:05" }}<br>
恢复: {{ .EndsAt.Format "2006-01-02 15:04:05" }}<br>
=========end==========<br>
{{ end }}{{ end -}}
{{- end }}

