[client]
default-character-set = utf8

[mysqld]
basedir = /usr/local/mysql
datadir = /data/mysql
port = 3306
server_id = 1
socket = /tmp/mysql.sock
character-set-server = utf8
collation-server = utf8_general_ci
join_buffer_size = 4M
sort_buffer_size = 2M
read_rnd_buffer_size = 2M 
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
default_storage_engine = INNODB
thread_concurrency = 10
innodb_read_io_threads = 6
innodb_write_io_threads = 6
innodb_flush_log_at_trx_commit =1
innodb_log_buffer_size = 16M
innodb_log_file_size = 5M
innodb_log_files_in_group = 2
innodb_file_per_table = 1
innodb_buffer_pool_size = 200M
transaction-isolation = REPEATABLE-READ
binlog_format = MIXED
log_bin = mysql-binlog
slow_query_log_file = /data/mysql/mysql-slow.log
slow_query_log = 1
log_error = /data/mysql/mysql.err
