[Unit]
Description=https://prometheus.io
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/mysqld_exporter/mysqld_exporter --config.my-cnf=/usr/local/mysqld_exporter/.my_160.cnf \
--web.listen-address=0.0.0.0:9104 \
--collect.auto_increment.columns \
--collect.info_schema.processlist
Restart=on-failure

[Install]
WantedBy=multi-user.target
