[Unit]
Description=https://prometheus.io
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/elasticsearch_exporter/elasticsearch_exporter \
--web.listen-address=0.0.0.0:9108 \
--es.uri=http://127.0.0.1:9200 \
--es.all \
--es.indices
Restart=on-failure

[Install]
WantedBy=multi-user.target

